 



%h2.text-success
  На Вашу пошту прийшов аналiз Вашого помешкання iз iнструкцiями стосовно розташування елементiв iнтер'єру.



= link_to 'На головну', '/', class: ' btn btn-outline-success btn-lg '
