


%h1.text-success
  =@main_page_content_tmp.html_safe

%hr/



-#________________________________________________________________________________



%h1.text-success
  Форма оформлення замовлення на iснуючий сегмент:

  
= form_for @user, url: { controller: 'order_is_sectors', action: 'create' } do |f|

  Name:  
  =f.text_field :name,  type:         'text', 
                        required:     '',
                        maxlength:   50
                        
  %br/
  
  Email : 
  =f.text_field :email, type:         'email', 
                        required:     '', 
                        placeholder:  'email@example.com',
                        maxlength:   50
  %br/
  
  = f.submit 'Продовжити', class: ' btn btn-success btn-lg '

  %hr/



-#________________________________________________________________________________

= link_to 'Проконсультироваться с психологом', 'http://kindrelations.com/', class: ' btn btn-outline-success btn-lg ', target: '_blank'
