<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    
    <style>
      h1, h2 {
        color:green;
      }    
    </style>
    
  </head>
  <body>

    <h2>
      Любий <%= @user.name %>,      
    </h2>
    
    <p>
      а ось і відповідь:
      <br/>
      <%= @order.answer %>
    </p>
    
    
    <hr/>
    
    <p>
      З повагою, 
      <br/>
      <a href= <%= @root_path %> >FenShui.Space</a> -
      <br/>
      Сайт фен шуй знань.
    </p>

  </body>
</html>
