<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    
    <style>
      h1, h2 {
        color:green;
      }    
    </style>
    
  </head>
  <body>
  
    <h1><%= @user.name %>,</h1>
    <h2>
      а ось i результати.
    </h2>
    
    <hr/>
    
    <p>
      З повагою, 
      <br/>
      <a href= <%= @root_path %> >FenShui.Space</a> -
      <br/>
      Сайт фен шуй знань.
    </p>

  </body>
</html>
